@import '../../index.css';



.cartView_item{
    display: flex;
    background-color: var(--bgLightGrayColor);
    gap: 5px;
}

.cartView_content{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-a;
    

}

.cartView_controls{
    display: flex;
}

.cartView_controls button{
    border-radius: 8px;
    border: none;
    background-color: var(--primaryColor);
    width: 53px;
    height: 35px;
    color: var(--whiteColor);
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

.cartView_checkout{
    border-radius: 8px;
    border: none;
    background-color: var(--primaryColor);
    width: 213px;
    height: 55px;
    color: var(--whiteColor);
    cursor: pointer;
    font-size: 16px;

}

.cartView_img{
    width: 100px;
    height: 100px;
    border-radius: 8px;
    background-color: var(--bgLightGrayColor);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden !important;
    object-fit: contain;
}

.cartView_div{
    
    width: 30%;
    ;
    
}

.button{
    border-radius: 8px;
    border: none;
    background-color: var(--primaryColor);
    width: 213px;
    height: 55px;
    color: var(--whiteColor);
    cursor: pointer;
    font-size: 16px;
}