
.search{
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    background-color: var(--bgLightGrayColor);
    border-radius: 100px;
    transition: ease-in-out;
}

.search:hover{
    background-color: var(--tertiaryColor);
    transition: ease-in-out;
}

input{
    margin-left: 10px;
    border: none;
    background-color: transparent;
    outline: none;
    color: var(--primaryColor);
    font-weight: normal;
}

@media screen and (max-width: 450px) {
    .search{
      display: none;
    }
  }