@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
  padding: 0;
  box-sizing: border-box;

  font-family: "Inter", serif;
  font-optical-sizing: auto;

  
}

:root{
  --primaryColor: #335231;
  --secondaryColor: #5C6B64;
  --tertiaryColor: #FFFAE5;
  --destaqueCollor: #CB9C48;
  --darkGrayColor: #535353;
  --lightGrayColor: #A9A9A9;
  --whiteColor: #FFFFFF;
  --blackColor: #000;
  --bgLightGrayColor:#F0F0F0;
}

.container{
  width: 100%;
  max-width: 1358px;
  margin: 0 auto;
  padding: 0 15px;
}


p{
  font-size: 18px;
  font-weight: lighter;
}

@media screen and (max-width: 450px) {
  .container{
    max-width: 450px;
  }
}